body {
    font-family: "IBM Plex Mono", sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}

.body__fixed {
    overflow: hidden;
}

h1,
h2,
h3,
p,
a {
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.03em;
    ;
}

h2 {
    padding-bottom: 40px;
    font-size: 55px;
}

h3 {
    font-size: 35px;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
}

section {
    margin-bottom: 150px;
}

section:nth-last-child(1) {
    margin-bottom: 0;
}

.wrapper {
    margin-bottom: 150px;
    padding: 27px 0 94px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../resurs/fon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__text {
    display: inline-block;
    padding: 0px 20px;
    color: #1BFF07;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -11%;
    background-color: #000;
    border-radius: 999px;
    text-transform: uppercase;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.header__link {
    font-size: 18px;
}

.header__link:hover {
    color: #1BFF07;
}

.burger-btn {
    display: none;
}

.burger {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.burger__open {
    opacity: 1;
    visibility: visible;
}

.burger__content {
    width: 60%;
    height: 100%;
    padding: 65px 30px;
    overflow-y: auto;
    background-color: #000000;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.burger__open .burger__content {
    transform: translateX(0);
}

.burger-header__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.burger-logo__text {
    display: inline-block;
    padding: 0px 10px;
    color: #1BFF07;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -11%;
    border: 1px solid #1BFF07;
    border-radius: 999px;
    text-transform: uppercase;
}

.burger-header__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.burger-header__link {
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
}

.burger-header__link:hover {
    color: #1BFF07;
}

.burger-header__contact {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burger-header__contact-text {
    font-size: 16px;
    line-height: 100%;
    opacity: 0.5;
}

.burger-header__contact-link {
    font-size: 20px;
    line-height: 25px;
}

/* HERO */

.hero__text {
    padding-bottom: 29px;
    max-width: 430px;
    font-size: 20px;
}

.hero__title {
    max-width: 920px;
    font-size: 80px;
    line-height: 70px;
    color: #1BFF07;
}

/* PROJECT */

.projects__wrapper {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.project {
    padding: 50px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.project--realhome {
    background-image: url(../resurs/Realhome.png);
}

.project--glass {
    background-image: url(../resurs/GLASS.png);
}

.project--fesiyen {
    background-image: url(../resurs/Fesiyen.png);
}

.project__item {
    max-width: 280px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #000;
    background-color: #1BFF07;
    text-align: center;
    border-radius: 999px;
}

.project__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__text {
    font-size: 30px;
}

.project__btn {
    padding: 56px 85px;
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #000;
    background-color: #1BFF07;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

/* COMPETENCIES */

.competencies__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 40px;
}

.competence {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.competence__icon {
    width: 45px;
    height: 44px;
}

.competence__title {
    max-width: 650px;
    color: #1BFF07;
}

.competence__text {
    max-width: 778px;
    font-size: 22px;
}

/* SERVICES */

.services__title {
    max-width: 403px;
    padding-bottom: 75px;
}

.service__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.service {
    display: flex;
    flex-direction: column;
}

.service__base {
    padding: 40px 40px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 70px;
    background-color: rgba(25, 28, 25, 1);
    border-radius: 30px;
}

.service__title {
    max-width: 470px;
    color: #1BFF07;
}

.service__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service__text {
    font-size: 22px;
}

/* CONTACTS */

.contacts {
    background-color: rgba(25, 28, 25, 1);
    border-radius: 30px;
    overflow: hidden;
}

.contact {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    align-items: center;
}

.contact__form-title {
    padding-bottom: 0;
}

.contact__form {
    padding: 100px 40px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contact__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact__form-input {
    padding: 15px 40px;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #ffffff;
    background-color: rgba(59, 61, 59, 1);
    border: transparent;
    border-radius: 999px;
}

.contact__form-input:focus {
    outline: none;
}

.contact__form-input::placeholder {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.03em;
}

.contact__form-btn {
    padding: 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #000;
    background-color: #1BFF07;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.contact__img {
    max-width: 915px;
    height: auto;
    flex-shrink: 0;
    border-radius: 30px;
}

/* FOOTER */

.footer {
    margin-top: 10px;
    padding: 76px 0 20px 0;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 60px;
}

.footer__title {
    grid-column: 1 / 2;
    font-size: 22px;
    color: #000;
}

.footer__contact-wrapper {
    display: flex;
    gap: 25px;
    grid-column: 2 / 3;
}

.footer__contact {
    font-size: 22px;
    color: #000;
}

.footer__text {
    font-size: 20px;
    color: #000;
    opacity: 0.5;
}

@media (max-width: 959px) {
    h2 {
        padding-bottom: 50px;
        font-size: 45px;
    }

    h3 {
        font-size: 28px;
    }

    .container {
        padding: 0 15px;
        max-width: 930px;
    }

    .wrapper {
        margin-bottom: 150px;
        padding: 20px 0 90px;
    }

    /* HEADER */

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo__text {
        padding: 0px 12px;
        font-size: 40px;
        font-weight: 700;
    }

    .header__menu {
        display: none;
    }

    .burger-btn {
        position: absolute;
        right: 1px;
        z-index: 110;
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(../resurs/menu.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .burger-btn__open {
        margin-right: 20px;
        width: 30px;
        height: 30px;
        background-image: url(../resurs/close.png);
    }

    /* HERO */

    .hero__title {
        font-size: 60px;
    }

    /* PROJECT */

    .projects__wrapper {
        padding-bottom: 65px;
    }

    .project {
        padding: 40px;
        height: 445px;
    }

    .project__item {
        max-width: 215px;
        padding: 6px 16px;
        font-size: 16px;
    }

    .project__text {
        font-size: 24px;
    }

    .project__btn {
        padding: 45px 70px;
        font-size: 25px;
    }

    /* COMPETENCIES */

    .competencies__wrapper {
        column-gap: 40px;
        row-gap: 35px;
    }

    .competence {
        gap: 10px;
    }

    .competence__icon {
        width: 36px;
        height: 36px;
    }

    .competence__text {
        font-size: 18px;
    }

    /* SERVICES */
    .service__wrapper {
        gap: 30px;
    }

    .service__base {
        padding: 30px 30px 55px;
        gap: 55px;
    }

    .service__title {
        max-width: 380px;
        color: #1BFF07;
    }

    .service__text {
        font-size: 18px;
    }

    /* CONTACTS */
    .contact {
        gap: 40px;
    }

    .contact__form {
        padding: 50px 0 90px;
        gap: 40px;
    }

    .contact__form-wrapper {
        gap: 15px;
    }

    .contact__form-input {
        padding: 10px 25px;
        font-size: 16px;
    }

    .contact__form-input::placeholder {
        font-size: 16px;
    }

    .contact__form-btn {
        padding: 15px;
        font-size: 16px;
    }

    .contact__img {
        max-width: 639px;
    }

    /* FOOTER */

    .footer {
        padding: 50px 0 20px 0;
    }

    .footer-wrapper {
        row-gap: 40px;
    }

    .footer__title {
        font-size: 16px;
    }

    .footer__contact-wrapper {
        gap: 15px;
    }

    .footer__contact {
        font-size: 16px;
    }

    .footer__text {
        font-size: 14px;
    }
}

@media (max-width: 374px) {

    h2 {
        padding-bottom: 35px;
        font-size: 30px;
    }

    .container {
        max-width: 350px;
    }

    section {
        margin-bottom: 100px;
    }

    .wrapper {
        margin-bottom: 100px;
        padding: 20px 0 60px;
    }

    /* HERO */

    .hero__text {
        padding-bottom: 10px;
        font-size: 15px;
    }

    .hero__title {
        font-size: 40px;
        line-height: 47px;
    }

    /* PROJECT */

    .projects__wrapper {
        padding-bottom: 60px;
    }

    .project {
        padding: 30px 0 50px 30px;
    }

    .project__item {
        max-width: 160px;
        padding: 5px 15px;
        font-size: 13px;
    }

    .project__text-wrapper {
        gap: 5px;
    }

    .project__text {
        font-size: 16px;
    }

    .project__btn {
        width: 100%;
        padding: 30px 50px;
        font-size: 18px;
    }

    /* COMPETENCIES */

    .competencies__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .competence__text {
        max-width: 778px;
        font-size: 22px;
    }

    /* SERVICES */

    .service__wrapper {
        gap: 60px;
    }

    .service__img {
        width: 100%;
        height: 225px;
        object-fit: cover;
        background-size: cover;
        background-position: center;
    }

    .service__base {
        padding: 30px 20px 70px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* CONTACTS */

    .contact__form {
        padding: 50px 0;
    }

    .contact__form-input {
        font-size: 15px;
    }

    .contact__form-input::placeholder {
        font-size: 15px;
    }

    .contact__form-btn {
        padding: 10px;
        font-size: 15px;
    }

    .contact__img {
        display: none;
    }

    /* FOOTER */

    .footer {
        padding: 45px 0 35px 0;
    }

    .footer-wrapper {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .footer__title {
        grid-column: 1 / -1;
    }

    .footer__contact-wrapper {
        grid-column: 1 / -1;
    }

}